# servidor
PORT=3000

# banco de dados
# "mysql://fslab:fslab@edurondon.tplinkdns.com:3341/db_Levantamento_Patrimonial"
DATABASE_URL="mysql://levantamento_patrimonial:admin@cloud.fslab.dev:8806/levantamento_patrimonial"
#DATABASE_URL="mysql://root:fslab@localhost:3307/db_Levantamento_Patrimonial"

#VARIAVIES DO LOGIN
SALT=10
PRIVATE_KEY='1010FFF'


#1-npx prisma db pull
#2-npx prisma generate
#3-npx prisma validate

https://phpmyadmin.fslab.dev/
